
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #1f2937;
    
}

body {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
 }


a{
    text-decoration: none ;

}
 
header {

    width: 300px;
    display: flex;
    align-items: flex-start;
    

}

#fa-solid fa-arrow-left{

 width: 100%;
 margin-top: 350px;
}


h2{
    margin-left: 80px;
}


