
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #1f2937;
    
}

body {
    width: 400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
 }


a{
    text-decoration: none ;

}
 
header {

    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    

}

.conteiner-a {
    
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    font-size: x-large;
}


h2{
    margin: 10px;
    font-size: larger;
    margin-right: 80px;
}




